<div class="home-container">
    <div class="hero-content">
      <h1>Hello, I'm <span class="highlight">Lukas Rasmussen</span></h1>
      <h2>Fullstack Developer</h2>
      <p>Specializing in Java and Angular development with a passion for creating high quality applications.
        I also develop my own projects and also contribute to the 
        <a class="anbennar-link" target="_blank" href="https://anbennar.fandom.com/wiki/Anbennar_Wiki">Anbennar</a> project.
      </p>
      
      <div class="cta-buttons">
        <button class="btn primary" (click)="scrollToSection('projects')">View Projects</button>
        <button class="btn secondary" (click)="scrollToSection('contact')">Get In Touch</button>
      </div>
      
      <div class="social-links">
        <a href="https://github.com/Nessumsar" target="_blank" title="GitHub">
          <img src="https://cdn.simpleicons.org/github/181717" class="fab fa-github" alt="GitHub" width="24" />
        </a>
        <a href="https://gitlab.com/Nessumsar" target="_blank" title="GitLab">
            <img src="https://cdn.simpleicons.org/gitlab/FC6D26" class="fab fa-gitlab" alt="GitLab" width="24" />
        </a>
        <!-- <a href="https://linkedin.com/in/lukas-rasmussen-96818b192" target="_blank" title="LinkedIn">
            <img src="../assets/linkedin-icon.svg" alt="LinkedIn" width="24" />
        </a> -->
      </div>
    </div>
  </div>
